<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ManageAdministerExalt.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="EinfacheVerwaltungsApplikation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ManageAdministerExalt.Properties.Settings>
            <setting name="db_connection_string" serializeAs="String">
                <value />
            </setting>
            <setting name="basepath" serializeAs="String">
                <value />
            </setting>
            <setting name="app_name" serializeAs="String">
                <value>SimBA</value>
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="license_key" serializeAs="String">
                <value />
            </setting>
            <setting name="default_tab" serializeAs="String">
                <value>tab_jobs</value>
            </setting>
            <setting name="paths" serializeAs="String">
                <value>workers|mitarbeiter;customers|kunde;discounts|rabatt;expenses|ausgabe;items|Gegenstand;jobs|auftrag;paymentconditions|zahlungsbedingung;reminders|Mahnung;services|leistung;terms|agb;bills|rechnungen;template|vorlagen;</value>
            </setting>
            <setting name="idformating" serializeAs="String">
                <value>bills|B%ID5%;customers|C%ID5%;discounts|D%ID5%;expenses|E%ID5%;items|I%ID5%;jobs|J%ID5%;paymentconditions|P%ID5%;reminders|R%ID5%;services|S%ID5%;terms|P%ID2%;workers|W%ID5%;template|T%ID5%</value>
            </setting>
            <setting name="active_tabs" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>tab_customers</string>
                        <string>tab_services</string>
                        <string>tab_terms</string>
                        <string>tab_reports</string>
                        <string>tab_worker</string>
                        <string>tab_jobs</string>
                        <string>tab_items</string>
                        <string>tab_expenses</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="timer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timer_interval" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="askforexit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wkhtmltopdf" serializeAs="String">
                <value>C:\\Program Files\\wkhtmltopdf\\bin\\wkhtmltopdf.exe</value>
            </setting>
            <setting name="backupFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="autobackup" serializeAs="String">
                <value>False</value>
            </setting>
        </ManageAdministerExalt.Properties.Settings>
        <EinfacheVerwaltungsApplikation.Properties.Settings>
            <setting name="db_type" serializeAs="String">
                <value>SQLite</value>
            </setting>
            <setting name="db_path" serializeAs="String">
                <value/>
            </setting>
        </EinfacheVerwaltungsApplikation.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
